.blog-article {
  position: relative;
  background-color: #fff;
  width: 75vw;
  margin: $margin auto 0;
  box-shadow: 0 0 20px rgba(#000, .05);

  &__header {
    position: relative;
    overflow: hidden;
    background-color: black;
    color: $text-ld;
    margin-bottom: $margin;
    &.has-hero {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 350px;
      h1 {
        padding: $padding * 2 $padding * 60 $padding * 2 $padding * 2;
        height: 100%;
        font-size: $baseFontSize * 6;
        text-shadow: 2px 2px rgba(#000, .5);
        text-transform: uppercase;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      }
    }
  }

  &__content {
    padding: $padding * 2 $padding * 5;
    p {
      margin-bottom: $margin;
      img {
        display: block;
        margin: 0 auto;
      }
    }
    h1, h2, h3, h4, ul, p img {
      font-weight: bold;
      margin-top: $margin*2;
      margin-bottom: $margin * 2;
    }
    ul {
      font-weight: normal;
      font-size: $paragraph;
      list-style: disc;
      margin-left: $margin * 3;
    }
    li {
      margin-bottom: $margin;
    }

    a {
      color: lighten($text-dl, 5%);
      text-decoration: underline;
      &:hover {
        text-decoration: none;
        color: $text-dl;
      }
    }
    figcaption {
      font-size: $paragraph;
      text-align: center;
      font-style: italic;
      color: lighten($text-dl, 5%);
      margin-bottom: $margin * 2;
    }
    iframe {
      display: block;
      margin: $margin * 2 auto;
    }
    hr {
      margin: $margin * 2 0;
      border: 0;
      border-bottom: 1px dotted $text-dl;
    }
  }
  .gatsby-highlight {
    :not(pre) > code[class*="language-"], pre[class*="language-"] {
      background: #3b3b52;
      font-size: $paragraph;
    }
  }
}