.blog-article .category-list {
  ul {
    list-style: none;
    margin: 0;
    
    @include bp(m) {
      display: grid;
      grid-column-gap: $margin;
      grid-row-gap: $margin;
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
      grid-auto-flow: dense;
    }
  }
  &__header {
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .20);
    height: 240px;
    background-blend-mode: darken;
    vertical-align: middle;
    a {
      position: relative;
      display: block;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      height: 100%;
    }
  }
  li {
    position: relative;
    box-shadow: 0 0 10px rgba(#000, .1);
    background-color: #fff;
    transition: margin-top .4s, margin-bottom .4s, box-shadow .4s;
    padding-bottom: 2rem;
    
    &:hover {
      margin-top: -3px;
      margin-bottom: 3px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(#000, .2);
    }
    &.featured {
      grid-column: span 2
    }
    article {
      height: 100%;
    }
    &.advice { 
      .category-list__meta-data__category,
      &.no-hero .category-list__header {
        background-color: $advice;
      }
    }
    &.skills { 
      .category-list__meta-data__category,
      &.no-hero .category-list__header {
        background-color: $skills;
      }
    }
    &.in-the-media { 
      .category-list__meta-data__category,
      &.no-hero .category-list__header {
        background-color: $media;
      }
    }
    &.supplies { 
      .category-list__meta-data__category,
      &.no-hero .category-list__header {
        background-color: $supplies;
      }
    }
    &.meta { 
      .category-list__meta-data__category {
        display: none;
      }
      &.no-hero .category-list__header {
        background-color: $meta;
      }
    }
  }
  h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $text-ld;
    margin: 0;
    padding: $padding * 2;
    text-shadow: 2px 2px rgba(#000, .4);
    word-break: break-word;
  }
  &__meta-data {
    &__date {
      position: absolute;
      background-color: #fff;
      top: 0;
      right: 0;
      padding: $padding;
      text-align: center;
      span {
        display: block;
      }
      .day {
        font-size: $header-level-1;
        font-weight: bold;
      }
      .month {
        font-size: $paragraph;
      }
      .year {
        font-size: $paragraph;
      }
    }
    &__category {
      position: absolute;
      width: 100%;
      bottom: 0;
      color: #fff;
      padding: $padding*.5;
      text-transform: capitalize;
    }
  }
  
  &__excerpt {
    word-break: break-word;
    padding: $padding * 2 $padding * 2;
    line-height: 1.5;
  }
}