.blog-article .category-list {
  ul {
    list-style: none;
    margin: 0;
    display: grid;
    grid-column-gap: $margin;
    grid-row-gap: $margin;
    grid-template-columns: repeat(4, 24.4%)
  }
  &__header {
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .20);
    height: 200px;
    background-blend-mode: darken;
    vertical-align: middle;
    a {
      position: relative;
      display: block;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      height: 100%;
    }
  }
  li {
    margin-bottom: 0;
    box-shadow: 0 0 10px rgba(#000, .1);
    border-bottom: 10px solid #333;
    background-color: #fff;
    transition: margin-top .4s, margin-bottom .4s, box-shadow .4s;
    &:hover {
      margin-top: -3px;
      margin-bottom: 3px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(#000, .2);
    }
    article {
      height: 100%;
    }
    &.scribblings { 
      border-color: $scribblings; 
      .category-list__meta-data__category {
        color: $scribblings;
      }
      &.no-hero .category-list__header {
        background-color: $scribblings;
      }
    }
    &.rise-against { 
      border-color: $rise-against; 
      .category-list__meta-data__category {
        color: $rise-against;
      }
      &.no-hero .category-list__header {
        background-color: $rise-against;
      }
    }
    &.mind-body-and-soul { 
      border-color: $mind-body-and-soul; 
      .category-list__meta-data__category {
        color: $mind-body-and-soul;
      }
      &.no-hero .category-list__header {
        background-color: $mind-body-and-soul;
      }
    }
    &.meandering-insanity {
      border-color: $meandering-insanity; 
      .category-list__meta-data__category {
        color: $meandering-insanity;
      }
      &.no-hero .category-list__header {
        background-color: $meandering-insanity;
      }
    }
    &.digital-industry { 
      border-color: $digital-industry; 
      .category-list__meta-data__category {
        color: $digital-industry;
      }
      &.no-hero .category-list__header {
        background-color: $digital-industry;
      }
    }
    &.technically-minded { 
      border-color: $technically-minded; 
      .category-list__meta-data__category {
        color: $technically-minded;
      }
      &.no-hero header {
        background-color: $technically-minded;
      }
    }
  }
  h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $text-ld;
    margin: 0;
    padding: $padding * 2;
    text-shadow: 2px 2px rgba(#000, .4);
    word-break: break-word;
  }
  &__meta-data {
    margin-top: $margin * 2;
    padding: 0 $padding * 2;
    &__date {
      display: block;
    }
    &__category {
      display: block;
      padding: $padding 0;
      text-transform: capitalize;
    }
  }
  a {
    color: darken($text-dl, 20%);
  }
  &__excerpt {
    word-break: break-word;
    padding: 0 $padding * 2 $padding * 2;
    line-height: 1.5;
  }
}