// Sensible defaults
body {
  font-family: Helvetica;
}

p { 
  font-size: $paragraph;
  line-height: 1.7;
}

h1 { 
  font-size: $header-level-1;
  font-family: Lato;
  font-weight: 600;
}
h2 { 
  font-size: $header-level-2;
  font-family: Lato;
  font-weight: 400;
}
h3 { 
  font-size: $header-level-3;
  font-family: Lato;
  font-weight: 400;
}

// Sets padding on the main content
main {
  float: left;
  padding-top: $padding*7;
  padding-left: 3vw;
  padding-right: 3vw;
}