.site-footer {
  position: relative;
  background: black url('../../images/hero.jpg') 80% 100%;
  @include bp(m) {
    background-position: 50% 100%;
  }
  padding:$padding * 2;
  &.legacy {
    &:after {
      content: "LEGACY POST";
      position: absolute;
      top: 45px;
      right: -45px;
      font-size: $paragraph;
      color: $text-ld;
      font-weight: bold;
      background-color: $danger;
      padding: $padding * .5 $padding * 5;
      transform: rotate(45deg);
      box-shadow: 0 0 20px #000;
    }
  }
  h1 {
    margin-top: $margin;
    text-transform: uppercase;
    text-align: center;
    font-size: 7rem;
  }
  a {
    color: $text-ld;
  }

  nav {
    padding: $padding 0;
  }

  li {
    font-size: $paragraph;
    @include bp(m) {
      display: inline-block;
    }
    margin: 0 $margin*.3 0;
    &:not(:last-child) {
      &:after {
        content: " | ";
        color: #fff;
      }
    }
  }

  .shout-out,
  .copyright {
    display: inline-block;
    color: $text-ld;
    font-size: $teeny;
    margin: 0 $margin*2 0 0;
  }
}